*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
.card{
    background-color: black;
    height: 500px;
    width: 400px;
    margin-top: 100px;
    margin-left: 35%;
}
img{
    height: 350px;
    width: 400px;
}
.dog{
    text-align: center;
    color: white;
    line-height: 2;
}
p{
    font-size: x-large;
}
.port{
    font-size: x-large;
}
